/* To take 100 points in Judge (SoftUni testing system), fonts in CSS file, with names containing several words, must be without quotes. */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 50px;
}

h1, h2 {
    font-family: "Great Vibes", cursive;
    line-height: 1.2;
    font-weight: bold;
}

ul {
    list-style-type: square;
}

ul > ul {
    list-style-type: disc;
}

ul > ul > ul {
    list-style-type: circle;
}