body {
    text-align: center;
}

article h1 {
    /* To take 100 points in Judge (SoftUni testing system), fonts in CSS file, with names containing several words, must be without quotes. */
    font-family: "Sentinel A", "Sentinel B", Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.15;
    color: #747474;
    text-transform: capitalize;
}

article span {
    font-family: "Graphik Semibold Web", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}

article p {
    font-family: "Graphik Regular Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}