<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/commons::head}">
    <title>Reseller App</title>
</head>

<body>

<header th:replace="~{fragments/commons::nav}"></header>

<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add offer</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/offers/add}" th:object="${createOfferDTO}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea type="text" class="form-control" id="description" name="description"
                      th:field="*{description}"
                      th:errorclass="'is-invalid alert-danger'">
            </textarea>
            <small class="text-danger invalid-feedback">Description length must be between 2 and 50 characters!</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input type="number" step="0.01" class="form-control" id="price" name="price"
                   th:field="*{price}"
                   th:errorclass="'is-invalid alert-danger'"/>
            <small class="text-danger invalid-feedback">Price must be positive number!</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="condition" class="h4 mb-2">Condition</label>
            </div>
            <select class="browser-default custom-select" id="condition" name="condition"
                    th:field="*{conditionName}"
                    th:errorclass="'is-invalid alert-danger'">
                <option value="">Select condition</option>
                <option value="EXCELLENT">Excellent</option>
                <option value="GOOD">Good</option>
                <option value="ACCEPTABLE">Acceptable</option>
            </select>

            <small class="text-danger invalid-feedback">You must select a condition!</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add offer</button>
        </div>

    </form>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

</body>

</html>