<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>

<body>

    <form th:action="@{/user}" method="post">
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName" value="John"><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName" value="Doe"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>

</html>