@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding-top: 40px;
}

.site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 1280px;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

.text-content h1 {
    font-weight: 500;
    opacity: 0.8;
    margin-bottom: 20px;
}

.text-content p {
    opacity: 0.5;
    line-height: 1.4;
}

.text-content>p:last-of-type {
    margin: 10px 0 40px 0;
}

.text-content>article {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-areas:
        "image heading"
        "image text";
    column-gap: 6px;
    margin: 25px 0;
}

.text-content>article:last-of-type {
    margin-bottom: 0;
}

.text-content article img {
    grid-area: image;
    height: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.text-content article h2 {
    grid-area: heading;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.text-content article p {
    grid-area: text;
}


.image img {
    width: 100%;
    height: auto;
}