<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{fragments/commons :: head}">
        <title>LinkedOut</title>
    </head>

    <body>

        <header th:replace="~{fragments/commons :: header}"></header>

        <main>
            <div class="container">
                <h2 class="text-center text-dark bg-light rounded-circle mt-5">All companies</h2>
                <hr style="width: 50%"/>
                <div class='row mb-4 d-flex justify-content-around'>

                        <div class="col-md-4 d-flex flex-column bg-text mb-3 rounded-circle" th:each="company: ${companies}">
                            <h2>Company: <th:block th:text="${company.getName()}">{name}</th:block></h2>
                            <h4>Town: <th:block th:text="${company.getTown()}">{town}</th:block></h4>
                            <h4>Description: <th:block th:text="${company.getDescription()} + ' ...'">{description - first 5 char} ...</th:block></h4>
                            <h4><a class="btn-block" th:href="@{/companies/{id}/details (id=${company.getId()})}">Detail info</a></h4>
                        </div>

                </div>
            </div>
        </main>

        <footer th:replace="~{fragments/commons :: footer}"></footer>

    </body>

</html>