html {
    font-family: Helvetica, sans-serif;
}

header {
    margin-top: 50px;
}

header,
main {
    margin-left: 50px;
    margin-right: 50px;
}

main h1 {
    font-family: Times, serif;
    font-weight: 200;
}

header nav h2,
header nav ul {
    display: inline;
}

header h2 {
    font-size: 32px;
    margin-right: 50px;
}

header nav {
    display: inline-block;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
    height: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: green;
    font-size: 12px;
}