@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


html {
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    min-width: 1900px;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 40px 40px;
}

header .title {
    display: flex;
    align-self: center;
    align-items: baseline;
}

header .title h1 {
    font-size: 54px;
    opacity: 0.8;
    line-height: 60px;
    padding-right: 30px;
    border-right: 2px solid #b2b2b2;
}

header .title p {
    font-size: 20px;
    letter-spacing: 2px;
    opacity: 0.7;
    padding-left: 30px;
}

header .title p .light-letters {
    opacity: 0.6;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 1px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    display: block;
    font-size: 24px;
    color: #212121;
    background-color: #ececec;
    padding: 30px 40px;
    text-decoration: none;
}

header nav ul li:first-child a {
    background-color: #e24e2a;
    color: #ffffff;
}

/* header nav ul li a:hover {
    background-color: #e24e2a;
    color: #ffffff;
} */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 640px;
    overflow: hidden;
}

.banner img {
    width: 100%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e24e2a;
    height: 270px;
}

.about p {
    display:block;
    width: 78%;
    color: #f5c7bc;
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
}

.about a {
    color: #fbe8e4;
}

.articles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #383838;
    height: 680px;
}

.articles article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e24e2a;
    width: 150px;
    height: 150px;
}

.icon-container i {
    font-size: 90px;
    color: #ffffff;
}

.articles article h4 {
    font-size: 26px;
    font-weight: 400;
    color: #ffffff;
    margin: 24px 0 14px 0;
}

.articles article p {
    display: block;
    font-size: 22px;
    line-height: 1.8;
    color: #6c6c63;
    border-top: 1px solid #6c6c63;
    padding-top: 32px;
    text-align: center;
}

.more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 450px;
}

.more-info h2 {
    font-size: 52px;
    font-weight: 400;
    opacity: 0.7;
}

.more-info p {
    font-size: 26px;
    opacity: 0.4;
}

.more-info a {
    display:block;
    background-color: #1b9772;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #ffffff;
    padding: 25px 60px;
    margin: 40px;
}

.careers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #383838;
    height: 510px;
}

.careers article {
    width: 410px;
    text-align: center;
}

.careers article h3 {
    font-size: 32px;
    font-weight: 400;
    color: #ffffff;
}

.careers article p {
    font-size: 22px;
    line-height: 1.7;
    color: #6c6c68;
    margin-top: 60px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b9772;
    height: 270px;
}

footer p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #5bb499
}

footer span {
    color: #a2d4c5;
}