@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

section {
    display: grid;
    width: 982px;
    background-color: #f6e0b5;
    grid-template-columns: repeat(2, 320px) 200px;
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: 
    "movie celebrity content"
    "tv-show arts content";
    column-gap: 32px;
    row-gap: 16px;
    padding: 40px;
    margin: 40px auto;
}

.movie {
    grid-area: movie;
}

.celebrity {
    grid-area: celebrity;
}

.tv-show {
    grid-area: tv-show;
}

.arts {
    grid-area: arts;
}

.content {
    grid-area: content;
}

article {
    display: block;
    background-color: #66545e;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    box-shadow:  -3px 10px 46px -6px rgba(0,0,0,0.75);
}

article img {
    width: 100%;
    height: 80%;
}

a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    margin: 6px;
}

article a {
    color: #ffffff;
}

aside {
    display: block;
    color: #6c6f7b;
}

aside h2 {
    font-size: 16px;
    font-weight: 600;
}

aside ul {
    list-style: none;
    color: #6c6f7b;
    padding: 0px;
}

aside ul li {
    padding-right: 6px;
}

aside ul li a {
    color: #6c6f7b;
    margin-left: 0px;
}